/.idea
/RxJavaShowcase.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/RxJavaShowcase/RxJavaShowcase.iml
/RxJavaShowcase/RxJavaShowcase-RxJavaShowcase.iml
/.idea/misc.xml
/.idea/.name
/.idea/copyright
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/vcs.xml
